<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-muted ">
   
    <!-- Logo and Name -->
    <a routerLink="slider" class="navbar-brand" mb-0 h1>
      <img class="d-inline-block align-top" src="../assets/MainLogo.png">
      <i> <strong>मेडिकोर</strong></i>
    </a>
      <!-- Button for small devices to show menu -->
    <button 
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--Home, About and other function with collapse  -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="home" class="nav-link active">
            <strong>Home</strong>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <strong>All Products</strong>
          </a>
            <!-- sub  drop down of Feature -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a href="$" class="dropdown-item">
                  Tablets
                </a>
              </li>

              <li>
                <a href="&" class="dropdown-item">
                  Injections
                </a>
              </li>

              <li>
                <a href="*" class="dropdown-item">
                  Liquid
                </a>
              </li>
            </ul>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <strong>About</strong>
          </a>
        </li>
      </ul>
     
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="signIn" class="nav-link">
            <strong>Sign-In</strong>
          </a>
        </li>
      </ul>

       <!-- search bar -->
       <input type="text" class="form control me-2" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search the medicine here "> 
       <button class="btn form-btn btn-outline " ><span class="fa fa-search"></span></button>
       
       <!-- For cart icon -->
       <button class="btn btn-outline shop"  routerLink="empty">
        <i style="font-size:30px;" class="fa fa-shopping-cart"></i>
        <!-- for cart order number -->
        <div style="font-size:9px;" class="badge bg-primary  ">{{totalItem}}</div>
      </button>

    </div>   <!--Collapsse class div-->

    <!-- search bar text  -->
    <!-- <div class="form-group">
        <input type="text" class="form control me-2" placeholder="Search the medicine here">
        <span class="fa fa-search"></span>
    </div> -->
    
  </nav>



 <!-- for space of 1 line in all router-outlet -->
  <br>
  
  <router-outlet></router-outlet>






  
     

</div>


<div class="conatiner-fluid ">
  <!-- for space of 1 line in footer from all router -utlet -->
  <br>
   <!-- Footer -->
<footer class="bg-dark footer text-center text-white d-flex-bottom flex-column  ">
  <!-- Grid container -->
  <div class="container p-4 mt-auto">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-linkedin-square"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

      </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://www.youtube.com/channel/UCenBaJ4qo33uSpHkKSArW3A">Rahul Rana Youtube</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</div>